<a href="https://colab.research.google.com/github/morrowbord/matstat/blob/main/terver_dz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задача 1**

**Даны значения величины заработной платы заемщиков банка (salary) и значения их поведенческого кредитного скоринга (scoring):**

salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]

1. Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции numpy.cov. Полученные значения должны быть равны.
2. Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек numpy и pandas.

In [3]:
import statistics
import pandas as pd
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt

In [4]:
salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110] 
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]
X=pd.DataFrame(salary)
Y=pd.DataFrame(scoring)

In [5]:
MX=X.mean()
MY=Y.mean()

ковариация salary and scoring

In [6]:
cov = ((X - MX) * (Y - MY)).sum() / (X.shape[0] - 1)
cov

0    10175.377778
dtype: float64

In [7]:
varX=X.var(ddof=1)
varY=Y.var(ddof=1)
print(f'{varX[0],varY[0]}')

(3882.9333333333334, 33854.322222222225)

In [8]:
covar=np.cov(salary,scoring)
covar

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

коэффициент корреляции Пирсона:

In [9]:
corr = cov / (X.std(ddof = 1) * Y.std(ddof = 1))
corr

0    0.88749
dtype: float64

посмотрим на встроенные функции ковариации np и pd

In [10]:
np.corrcoef(X[0], Y[0])

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

In [11]:
covr = np.stack((salary,scoring), axis=1)
cd=pd.DataFrame(covr)
cd

     0    1
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

посмотрим на корреляционную матрицу

In [12]:
cd.corr()

         0        1
0  1.00000  0.88749
1  0.88749  1.00000

**Задача 2**

**Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:**

131, 125, 115, 122, 131, 115, 107, 99, 125, 111

Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95

In [13]:
iq=pd.DataFrame([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
p=0.95
alpha=1-p
n=iq.shape[0]

In [14]:
mean = iq.mean()
mean

0    118.1
dtype: float64

In [15]:
iq_std = iq.std()

In [16]:
t1 = stats.t.ppf(alpha / 2,n-1)
t2 = stats.t.ppf(1 - alpha / 2,n-1)

t1, t2

(-2.2621571627409915, 2.2621571627409915)

In [17]:
m1 = (mean + t1 * (iq_std / np.sqrt(n)))
m2 = (mean + t2 * (iq_std / np.sqrt(n)))

In [18]:
print(f"доверительный интервал матожидания от : {m1[0]:2f} до {m2[0]:2f}")

доверительный интервал матожидания от : 110.556084 до 125.643916

**Задача 3**

Известно, что рост футболистов в сборной распределен нормально с известной дисперсией 25. На выборке объёма 27 выборочное среднее составило 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [26]:
sigma=np.sqrt(25)
n=27
mean=174.2
alpha=1-0.95

In [22]:
z1 = stats.norm.ppf(alpha / 2)
z2 = stats.norm.ppf(1 - alpha / 2)

z1, z2

(-1.959963984540054, 1.959963984540054)

In [27]:
(mean + z1 * sigma / np.sqrt(n), mean + z2 * sigma / np.sqrt(n))

(172.3140237765397, 176.08597622346028)

ответ: дов.интервал : (172.31, 176.08)